body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #081945;
}
.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}
.container .card{
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
}

.container .card:hover .content{
  transform: translateY(0px);
}

.container .card .content{
  color: #fff;
  text-align: center;
  transform: translateY(15px);
  transition: 0.5s;
  margin-bottom: 10%;
  font-family: 'Poppins', sans-serif;
}
