@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.wrapper{
  position:absolute;
  top: 25%;
  text-align: center;
  font-size: 12px;
  font-family: Lato;
}

.infoJobCard{
  font-family: Lato;
  color: white;
  text-align: left;
  position: relative;
  left: 45%;
  padding: 12px;
}

.logo{
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  left: 90px;
  bottom: 70px;
  z-index: -1;
}

.jobInfo{
  display: block;
  color: white;
  font-family: Lato;
  padding: 15px;
  position: relative;
  bottom: 40px;
  left: 20px;
}

.positionLocation{
  text-align: left;
  position: absolute;
  left: 90px;
  bottom: 50px;
  color: white;
  font-family: Lato;
}

.form_container {
	padding: 4em; 
  background: rgba(0, 0, 0, 0.25);
	width: 500px;
	height: 150px;
	-webkit-box-shadow: rgba(50, 50, 93, 0.75) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	border-radius: 20px;
  position: relative;
  margin-left: 15%;
}
