@import url('https://fonts.google.com/specimen/Ubuntu');


.positioning{
    text-align: center;
    display: block;
    padding: 50%;
    margin-left: 31.5%;
}
.information{
  color:white;
  font-family: "Ubuntu";
  font-size: 10px;
  height: 180px;
  width: 400px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.SWE{
  font-size: 14px;
  color: white;
  text-align: center;
  padding-top: 10px;
}
.company{
  text-align: center;
  font-size: 14px;
  color: white;
}
.dates{
    font-size: 8px;
    color: white;
    text-align: center;
}

.location{
  font-size: 10px;
  color: white;
  text-align: center;
}

.content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  padding: 40px;
  font-family: 'Ubuntu';
}


.card {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  height: 180px;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: block;
  width: 400px;
}

.work{
  text-align: center;
  font-family: 'Ubuntu';
  font-size: 20px;
  color: white;
  padding: 15px;
}

.leidos {
  top: 30px;
  position: absolute;
  left: 30px;
}


@media only screen and (min-width: 768px){
 
}
